/* each goods category */
.goods {
    width: 50vw;
  }
  .goods img {
    width: 50vw;
    height: fit-content;
  }
  .goods-area button {
    font-size: calc((75vw - 4.5rem) / 14);
  }
  .goods-area{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 0 0 0 1.5rem;
    width: 94vw;
  }
  .goods-info{
    width: 43vw;
  }
  .add-to-cart{
    border: 2px solid palevioletred;
    color: palevioletred;
    border-radius: 1.5rem;
    background: transparent;
    
    position:relative;
    bottom:0px;
  }
  .mines-plus{
    background: transparent;
    height: 8vw;
    width: 8vw;
    border: 2px solid palevioletred;
    border-radius: 1.5rem;
    color: palevioletred;
    line-height: 1.2;
  }
  .mines-plus-container{
    width: 28vw;
  }
  .buy-counter{
    line-height: 1.2;
    font-family: "Dosis", sans-serif;
  }
  .not-available-text{
    font-size: calc((75vw - 4.5rem) / 10);
  }