/* back links */
.back-links {
  background: rgb(231, 231, 231);
}

/* titrs */
.home-titr {
  font-family: "Lalezar", cursive;
  color: rgba(26, 25, 25, 0.925);
  width: fit-content;
  border-radius: 1rem;
  background: linear-gradient(
    45deg,
    white,
    white,
    rgb(223, 173, 190),
    rgb(214, 151, 172),
    rgb(221, 135, 164)
  );
}

/* main categiries */
.category {
  width: 80vw;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 1rem;
  font-family: "Lalezar", cursive;
}
.category h1 {
  background: rgb(241, 241, 241);
  border-radius: 0 0 1rem 1rem;
  color: rgb(219, 155, 176);
}
.category img {
  width: 80vw;
  height: 80vw;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
