/* carousel */
#carouselExampleIndicators img{
    height: 50vw;
    width: 100vw;
    object-fit: cover;
}

/* home goods */
.homeGoods{
  width: 100vw;
}
.Home-Links{
    width: 40vw;
    box-shadow: rgba(97, 39, 75, 0.123) 0px 3px 8px;
    border-radius: 20px;
}
.homeGoods img{
    width: 38vw;
}
a.col-6.p-0.row.px-2.text-decoration-none.text-muted.Home-Links.m-2.pt-1 {
    width: 40vw;
}