body{
  font-family: 'Sahel', sans-serif;
}
*{
  font-family: 'Sahel', sans-serif;
}
input:focus{
  outline: none;
}
textarea:focus{
  outline: none;
}
img{
  width: 290px;
}
ul{
  list-style: none;
}